<div class="flex flex-col flex-auto w-full sm:max-w-360 sm:shadow-lg sm:rounded-lg sm:overflow-hidden bg-white">

  <ng-container *ngIf="user$ | async as user">
  <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
    <div class="text-3xl font-extrabold">{{user.name}}</div>

  </div>

  <div class="w-full  py-8 px-6 md:px-8">

      <!-- <div class="mt-3 text-4xl font-bold truncate">{{user.name}}</div> -->

      <div class="flex items-center text-gray-600 mt-9">
        <mat-icon>email</mat-icon>
        <div class="min-w-0 ml-6 space-y-1">
          <a target="_blank" class="hover:underline text-primary-500" href="mailto:{{user.email}}">
            {{user.email}}
          </a>
        </div>
      </div>

      <div class="flex items-center text-gray-600 mt-4">
        <mat-icon>call</mat-icon>
        <div class="min-w-0 ml-6 space-y-1">
          <span class="text-primary-500">
            {{user.phone}}
          </span>
        </div>
      </div>

      <div class="flex items-center text-gray-600 mt-4">
        <mat-icon>language</mat-icon>
        <div class="min-w-0 ml-6 space-y-1">
          <a target="_blank" class="hover:underline text-primary-500" href="{{user.website}}">
            {{user.website}}
          </a>
        </div>
      </div>

      <div class="flex items-center text-gray-600 mt-4">
        <mat-icon>location_on</mat-icon>
        <div class="min-w-0 ml-6 space-y-1">
          <span class="text-primary-500">
            {{user.address.street}}, {{user.address.city}}
          </span>
        </div>
      </div>
  </div>
</ng-container>
</div>
